__pycache__/
*.py[cod]
*.egg-info/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

build/
dist/
out/
.toolcache/
inputs/private/

*.o
*.a
*.so
*.ko
*.mod
*.mod.c
*.cmd
*.symvers
*.symtypes
*.symversions
modules.order
Module.markers

*.cpio
*.img
*.bin
*.dtb
*.pcap
*.pcapng
*.btsnoop
*.log
*.tar
*.tar.gz
*.zip
